# Ignore Python environment directories
myenv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environments (just in case)
env/
venv/

# Ignore IDE or editor-specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
